* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: NintendoDSBIOS;
  font-size: 23px;
  font-weight: 600;
  padding: 1px 4px;
  border: 0;
  border-radius: 0;
}

window#waybar {
  /*background-color: #09092B; 
  border-radius: 70px;
  margin: 2px 8px;*/ /*margin: 2px 8px;*/
  /*padding: 1px 0px;*/
  background-color: transparent;
  color: #ffffff;
  /*transition-property: background-color;
  transition-duration: 0.5s;
  border-top: 8px transparent;
  transition-duration: 0.5s;*/

}


window#waybar.hidden {
  opacity: 0.1;
}

#workspaces {
  background-color: #0A1034;
  border-radius:15px;
  margin: 0px 2px;
  border-bottom: 4px;
  border-bottom-color: #00ffff;
  border-left: 5px;
  border-left-color: #00ffff;
  border-style: solid;
}

#workspaces button {
  padding-right: 15px;
  padding-left: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #00ffff;
  background-color: transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 0px transparent;
  /* Avoid rounded borders under each workspace name */
  /*border: none;
  border-radius: 0;
  border-left-color: #00ffff;*/
}

#workspaces button.focused {
  background-color: transparent;
}
#workspace button.hover {
  background-color: transparent;
}
#workspaces button.active {
  color: #ff0000;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#custom-cava {

}

#cava,
#backlight,
#tray,
#disk,
#battery,
#custom-powermenu,
#cpu,
#temperature,
#memory,
#clock,
#window,
#pulseaudio,
#custom-updater,
#custom-arch,
#custom-bluetooth,
#network {
  padding: 10px 7px;
  background-color: #0A1034;
  /*background: rgba(0, 0, 0, 0);*/
  border-radius:15px;
  margin: 0px 3px;
  /*border-top: 3px;
  border-top-color: #00ff00;
  border-right: 3px;
  border-right-color: #00ff00;*/
  border-bottom: 4px;
  border-bottom-color: #00ffff;
  border-left: 5px;
  border-left-color: #00ffff;
  border-style: solid;
}

#cava {
  padding-left: 15px;
  padding-right: 15px;
}

#window {
  color: #929db1;
}

#custom-bluetooth {
  color: #00ffff;
  padding-right: 10px;
  padding-left: 10px;
}

#custom-arch {
  color: #00ffff;
  padding-left: 9px;
  padding-right: 8px;
  font-weight: 100;
}

#backlight {
  color: #00ffff;
}

#tray {
  margin-left: 4px;
}

#custom-updater {
  color: #00ffff;
}

#custom-powermenu {
  color: #ff0015;
  padding-right: 22px;
  padding-left: 15px;
  border-left-color: red;
  border-bottom-color: red;
}

#scratchpad {
  color: #cffafe;
  padding-right: 4px;
  padding-left: 4px;
}

#pulseaudio {
  color: #00ffff;
  padding-right: 9px;
}

#cpu {
  color: #00ffff;
}

#battery {
  color: #00ffff;
}

#tray {
  color: #00ffff;
}

#disk {
  color: #00ffff;
}

#temperature {
  color: #00ffff;
}

#memory {
  color: #00ffff;
}

#network {
  color: #00ffff;
  padding-left: 15px;
  padding-right: 12px;
}

#clock {
  color: #00ffff;
  margin-left: 8px;
  /* opacity: 0.7; */
  /* font-size: 18px; */
}

